XML/Ejercicio2/libro.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="libro">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="titulo"></xs:element>
            <xs:element name="contenido">
                <xs:complexType>
                    <xs:sequence>
                        
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>